dynaconf==3.2.4
loguru==0.7.2
openstacksdk==3.0.0
oslo.config==9.4.0
prompt-toolkit==3.0.43
pymysql==1.1.0
python-cinderclient==9.4.0
python-glanceclient==4.4.0
python-keystoneclient==5.3.0
python-neutronclient==11.2.0
python-novaclient==18.4.0
python-octaviaclient==3.7.0
tabulate==0.9.0
